product-experience-api/src/main/mule/impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="exp-product-sync-impl">

        
        <http:request
            config-ref="Process_API_Config"
            method="POST"
            path="/process/products"/>

        <logger level="INFO"
                message="[CorrelationId: #[correlationId]] Response received from Process API"/>
		<error-handler ref="global-error-handler" />

    
</flow>

</mule>
