product-process-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="process-product-api">

        <http:listener 
            config-ref="HTTP_Listener_Config"
            path="/process/products"
            allowedMethods="POST"/>

        <logger level="INFO"
                message="[CorrelationId: #[correlationId]] Process API Triggered"/>

        <flow-ref name="process-product-impl"/>

    </flow>
	<flow name="interfaceFlow" doc:id="88a0f15c-5161-49e9-9dfa-64d0270fa00c" >
		<scheduler doc:name="Scheduler" doc:id="3510741b-6ef6-4783-9b44-6a9af00148fd" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="MINUTES" startDelay="20"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="46decfb1-59ed-4a6b-8a3a-19aa75113a6d" name="process-product-impl"/>
	</flow>


</mule>
